celery
redis
faster-whisper
streamlit
yt-dlp
transformers
torch
torchvision
opencv-python
numpy
Pillow
scenedetect
fastapi
uvicorn
langchain
langchain-openai
langchain-anthropic
requests
llama-index-core
llama-index-embeddings-huggingface
llama-index-llms-anthropic
sentence-transformers
python-dotenv
ftfy
regex
git+https://github.com/openai/CLIP.git
